apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: desafio-kubernetes
  labels:
    app.kubernetes.io/part-of: desafio-kubernetes
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: postgres-bd
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres123
  AUTHENTICATOR_PASSWORD: postgres123